#wrapper {
    display: grid;
    height: 95vh;
    row-gap: 10px;
    grid-template-rows: 150px auto 100px;
    grid-template-areas: "hd hd" 
    "mn mn" 
    "ft ft";
}

h1 {
    text-align: center;
}

#cardwrapper {
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: auto;
    justify-content:center ;
}

#p1 {
    justify-content: right;
    border: 0px;
    padding-right: 20px
}



section {
    border: 1px solid #000;
    width:90vw;
    height: 100px;
    border-radius: 25px;
    display:flex;
    padding-left: 20px;
    align-items: center;
}

section:hover {
    filter: grayscale(50%)
}

#cardwrapper section p {
font-size:16pt;
text-shadow: 0 0 20px rgb(0, 0, 0);
}

 




#s1 {
    background-color: rgb(141, 215, 215)
}

#s2 {
    background-color: rgb(141, 215, 215)
}

#s3 {
background-color:rgb(141, 215, 215)
}

#s4 {
    background-color:rgb(141, 215, 215)
}

#s5 {
background-color: rgb(141, 215, 215)
}

#s6 {
    background-color:rgb(141, 215, 215)
}

header {
    border-bottom: 1px solid #000;
    grid-area: hd;
    padding: 10px;
    
}

main {
    grid-area: mn;
}

footer {
    border-top: 1px solid #000;
    padding: 15px;
    grid-area: ft;
    
}

#logga {
   
    width: 50px;
}


a {
    color: #000;
    text-decoration: none;
}

