

#wrapper {
    display: grid;
    height: 95vh;
    row-gap: 10px;
    grid-template-rows: 150px auto 100px;
    grid-template-areas: "hd hd" 
    "mn mn" 
    "ft ft";
}

#cardwrapper {
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: auto;
    justify-content:center ;
}

section {
    border: 1px solid #000;
    width: 200px;
    height: 200px;
    
}

header {
    border: 1px solid #000;
    grid-area: hd;
    padding: 10px;
}

main {
    border: 1px solid #000;
    grid-area: mn;
}

footer {
    border: 1px solid #000;
    grid-area: ft;
}

#logga {
   
    width: 30px;
}


